rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    function isUtdDomain() {
      return isAuthenticated() 
        && request.auth.token.email != null 
        && request.auth.token.email.matches('.*@utd[.]ac[.]th$');
    }

    function isAdmin() {
      return isUtdDomain() && (request.auth.token.role == 'admin');
    }

    // Main App Configuration, Subcollections, and all documents
    match /apps/{appId} {
      allow read, write: if true;

      match /{allSubcollections=**} {
        allow read, write: if true;
      }
    }

    match /{document=**} {
      allow read, write: if true;
    }
  }
}

